*{
    margin: 0;
    padding: 0;
}

.background-wrapper{
    width:100vw;
    height:100vh;
    max-width: 431px;
    max-height: 864px;
    background-image: url("../imgs/image.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    float: left;
}



#title{
    padding-top: 70px;
    width: 100%;
    text-align: center;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 20px ; 
    margin-bottom: 0px;
}

.section{
    width:220px;
}

#portfolio{
    padding-top: 30px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
}
#duration{
    padding-top: 30px;
    width: 100%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;    
}
#mtl-invest{
    padding-top: 40px;
    width: 100%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
    
}

#value{
    display:none;
}

#value2{
    display:none;
}

.buttons-container{
    display: flex;
    justify-content: center;
}

.button{
    background: #B7CB75;
    border-radius: 20px;  
    flex-grow: 1;
}

.slider{
    /* to override default style */
  -webkit-appearance: none;  
  appearance: none;
  background: linear-gradient(90deg, rgb(214,214,214) 50%,rgb(214,214,214) 50%);
  height: 9px;
  border-radius: 15px;  
  width: 220px;
    outline: none; 
}

.slider2{
    -webkit-appearance: none;  
  appearance: none;
  background: linear-gradient(90deg, #B7CB75 100%,rgb(214,214,214) 0%);
  height: 9px;
  border-radius: 15px;  
  width: 220px;
    outline: none; 
}

 /* for chrome */
 .slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
/* for safari */
.slider2::-moz-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
 /* for chrome */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
/* for safari */
.slider::-moz-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}

  .chartCard {
    width: 570px;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    padding-right: 20px;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(183, 203, 117,1);
    background: white;
  }