*{
    margin: 0;
    padding: 0;
}

.background-wrapper{
    width:100vw;
    height:100vh;
    max-width: 431px;
    max-height: 864px;
    background-image: url("../imgs/image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

/* .wrapper {
    width: 100%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10%;
    margin-bottom:10%;
    aspect-ratio: 400 / 850;
    border-radius: 40px;
} */

#title{
    padding-top: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 22px ; 
    margin-bottom: 0px;
}

#mtl-invest{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 12px;
    margin-bottom: 0px;
}

#value{
    display:none;
}
.slider{
    /* to override default style */
  -webkit-appearance: none;  
  appearance: none;
  background: linear-gradient(90deg, rgb(214,214,214) 50%,rgb(214,214,214) 50%);
  height: 9px;
  margin-left: 12px;
  border-radius: 15px;  
  width: 230px;
  outline: none; 
}
 /* for chrome */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
/* for safari */
.slider::-moz-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}

  .chartCard {
    width: 570px;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(183, 203, 117,1);
    background: white;
  }