*{
    margin: 0;
    padding: 0;
}

.background-wrapper{
    width:100vw;
    height:100vh;
    max-width: 431px;
    max-height: 864px;
    background-image: url("../imgs/Device.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10%;
    margin-bottom:10%;
    aspect-ratio: 400 / 850;
    background: #48348A;
    border-radius: 40px;
}


#title{
    padding-top: 50px;
    text-align: center;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 22px ; 
    margin-bottom: 0px;
}


#mtl-invest{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 12px;
    margin-bottom: 0px;
}

.slider{
  margin-left: 12px;
  border-radius: 5px;  
  background: #d3d3d3;
  width: 230px;
  outline: none;
  opacity: 0.7;
  
}
#myRange{
    color:#48348A;
}